h1 {
    font-size: 5em;
}

#profile {
    width: 400px;
    margin: 100px;
    padding: 10px 20px
}

.social_icon {
    width: 150px;
}

body {
    background-color:aliceblue;
    color: brown;
}

div {
    background-color:rgb(15, 71, 126);
    color: white;
}

a {
    color: red;
}